
{% extends "layout.html"%}
{% block title %}
	Home
{% endblock %}
{% block content %}
	<div class="index">
		<h1><b>WELCOME TO BEATZZ</h1>
		<h2><b>A music streaming app</h2>
		<h1><i class="bi bi-soundwave"></i></h1>
	</div>
{% endblock %}
{% block style %}
<style>
	.index{
        width: 750px;
        overflow: hidden;
        margin: auto;
        margin: 20 0 0 0px;
        padding: 70px;
        text-align: center;
        border-radius: 10px ;
        border: 2px solid black;
        margin-top: 100px;

</style>
{% endblock %}