{% extends "layoutcreator.html" %}
{% block title %}
    View Album
{% endblock %}
{% block content %}
<div class="container mt-4">
    <h2 style="color: brown;">{{album.name}}</h2>
    <p>Genre: {{ album.genre }}</p>
    <p>Artist:{{album.artist}}</p>
    <br>
    <hr>
    <h3>Your Songs</h3>
    <div class="row">
        <div class="col-md-12">
            <table class="table">
                <thead>
                        <tr>
                            <th>Title</th>
                            <th>View</th>
                            <th>Edit</th>
                            <th>Delete</th>

                        </tr>
                    </thead>
                <tbody>
                    {% for song in album.songs %}
                        <tr>
                            
                            <td class="leftmost">{{ song.name}}</td>
                            <td><a href="{{ url_for('creator.view_song', song_id=song.id) }}"><i class="bi bi-eye bi-2x" color="green"></i></a></td>
                            <td><a href="{{ url_for('creator.edit_song', song_id=song.id) }}" ><i class="bi bi-pencil bi-2x"></i></a></td>
                            <td><a href="{{ url_for('creator.delete_song', song_id=song.id) }}"><i class="bi bi-trash bi-2x" color: red></i></a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
{% block style %}
<style>
body{
    background-color: lightgoldenrodyellow;
}
tr thead{
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    background: ;
}
.leftmost{
    order:-1;
}

</style>
{% endblock %}